<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- start: Icons -->
  <!-- start: CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- end: CSS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/src/css/registro.css">
  <link rel="stylesheet" href="/src/css/dataTables.bootstrap5.min.css">


  <title>San Mathias</title>
</head>

<body>

  <!-- start: Sidebar -->
  <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
        <a href="/caja" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">San
            Mathias</a>
        <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
        <li class="sidebar-menu-item active">
            <a href="/caja">
                <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                Inicio
            </a>
        </li>
        <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Modulos</li>
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-pages-line sidebar-menu-item-icon"></i>
                Ventas
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
              <li class="sidebar-dropdown-menu-item">
                <a href="/facturaciones">
                  Lista de ventas
                </a>
              </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/ventas">
                        Nueva Venta
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/clientes">
                        Clientes
                    </a>
                </li>
            </ul>
        </li>
       
    </ul>


</div>
  <div class="sidebar-overlay"></div>
  <!-- end: Sidebar -->

  <!-- start: Main -->
  <main class="bg-light">
    <div class="p-2">
      <!-- start: Navbar -->
      <nav class="px-3 py-2 bg-white rounded shadow-sm">
        <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
        <h5 class="fw-bold mb-0 me-auto">Clientes</h5>
       
        <div class="dropdown">
          <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="me-2 d-none d-sm-block">Cajero </span>
                        <img class="navbar-profile-image"
                            src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-cashier-png-free-material-download-at-work-image_1190664.jpg"
                            alt="Image">
                    </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Cerrar Session</a>
          </div>
        </div>
      </nav>
      <!-- end: Navbar -->

      <!-- start: Content -->
          <!-- end: Navbar -->

      <!-- start: Content -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            <div class="form first">
              <form id="agregarUsuarioForm" method="post" action="/clientes">
                <div class="details personal" style="width: 100%;">
                  <br>
                  <div class="fields" >
                    <div class="input-field" style=" width: auto;">
                      <div style="display: flex; flex-direction: column; width: 100%; margin: 4px 0;">
                        <label>Dni:</label>
                        <input style="width: 20em;" type="number" placeholder="Ingrese Dni" id="dni" name="dni" >
                      </div>
                      
                      <div style="display: flex; flex-direction: column; width: 100%; margin: 4px 0;">
                        <label>Ruc:</label>
                        <input style="width: 20em;" type="number" placeholder="Ingrese ruc" id="ruc" name="ruc" >
                      </div>
                      <div style="display: flex; gap: 10px; width: 100em;">
                      <div style="margin-top: 1.8em;">
                        <a class="btn btn-primary" id="buscar1" style=" font-size: 1.2em;">
                          Buscar por dni
                        </a>
                      </div>
                      <div style="margin-top: 1.8em;">
                        <a class="btn btn-primary" id="buscarclienteapi" style="font-size: 1.2em;">
                          Buscar por Ruc
                        </a>
                      </div>
                    </div>
                    </div>
                    <div class="input-field"  >
                      <div style="display: flex; flex-direction: column; margin: 4px 0;">
                        <label>Nombre Completo:</label>
                        <input style="width: 24.5em;" type="text" placeholder="nombre" id="nombre" name="nombre_cliente" >
                      </div>
                    </div>
                    <div class="input-field"  >
                      <div style="display: flex; flex-direction: column; margin: 4px 0;">
                        <label>Razon Social:</label>
                        <input style="width: 24.5em;" type="text" placeholder="razonsocial" id="razonsocial" name="razonsocial" >
                      </div>
                    </div>
                    <div class="input-field" >
                      <div style="display: flex; flex-direction: column; margin: 4px 0;">
                        <label>Telefono:</label>
                        <input style="width: 15em;" type="number" placeholder="telefono" id="telefono" name="telefono" >
                      </div>
                    </div>
                    <div class="input-field" style="display: flex; flex-direction: row; gap: 5px;">
                      <div style="display: flex; flex-direction: column; margin: 4px 0;">
                        <label>Direccion:</label>
                        <input style="width: 20em;" type="text" placeholder="direccion" id="direccion" name="direccion" >
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 1.7em;">Agregar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            
          
          </div>

          <div class="col-md-12">
            <div class="scrollable" style="max-height: 570px; overflow-y: scroll;">
              <table class="table" id="users">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">DNI</th>
                    <th scope="col">RUC</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Razon Social</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <% clientes.forEach(function(cliente) { %>
                  <tr>
                    <td><%= cliente.idcliente %></td>
                    <td><%= cliente.dni %></td>
                    <td><%= cliente.ruc %></td>
                    <td><%= cliente.nombre_cliente %></td>
                    <td><%= cliente.razonsocial %></td>
                    <td><%= cliente.telefono %></td>
                    <td><%= cliente.direccion %></td>
                    <td><%= cliente.estado_cliente %></td>
                    <td>
                      <button class="btn btn-success" onclick="mostrarFormulario('<%= cliente.idcliente %>', '<%= JSON.stringify(cliente) %>')">Actualizar Cliente</button>
                     
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
              <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
              <script>
                $(document).ready(function () {
                  $('#users').DataTable();
                });
              </script> 

              <% if(typeof alert !='undefined' ) { %>

                <script>
                  Swal.fire({
                    title: "<%= alertTitle %> ",
                    text: "<%= alertMessage %> ",
                    icon: "<%= alertIcon %> ",
                    showConfirmButton: <%= showConfirmButton %>,
                    timer:<%= timer %> 
                        }).then(() => {
                      window.location = '<%= ruta %> '
                    })
                </script>
                <% } %>
            </div>
          </div>
        </div>
      </div>

      <!-- end: Content -->
    </div>
  </main>
  <!-- end: Main -->
 
  <script>
    // Frontend - función mostrarFormulario
    function mostrarFormulario2(idcliente, datos) {
      const usuario = JSON.parse(datos);
  
      Swal.fire({
        title: 'Confirmar eliminación',
        text: '¿Estás seguro de que quieres eliminar este cliente?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          const url = `/eliminarcliente2/${idcliente}`;
          fetch(url, {
            method: 'DELETE'
          })
            .then(response => {
              if (response.ok) {
                Swal.fire('Éxito', 'El cliente se eliminó correctamente', 'success');
                location.reload(); // Recargar la página después de la eliminación exitosa
              } else {
                Swal.fire('Error', 'Hubo un error al eliminar el cliente', 'error');
              }
            })
            .catch(error => {
              Swal.fire('Error', 'Hubo un error en la solicitud', 'error');
            });
        }
      });
    }
  </script>
  <script>
    // Frontend - función mostrarFormulario
    function mostrarFormulario(idcliente, datos) {
      const cliente = JSON.parse(datos);
  
      Swal.fire({
        title: 'Detalles del cliente',
        html: `
          <form id="actualizarClienteForm" method="post" action="/actualizarcliente/${idcliente}">
            <div class="form-group">
              <label for="dni">DNI:</label>
              <input type="number" class="form-control" id="dni" name="dni" value="${cliente.dni || ''}"  >
            </div>
            <div class="form-group">
              <label for="dni">Ruc:</label>
              <input type="number" class="form-control" id="ruc" name="ruc" value="${cliente.ruc || ''}"  >
            </div>
            <div class="form-group">
              <label for="nombre">Nombre Cliente:</label>
              <input type="text" class="form-control" id="nombre" name="nombre_cliente" value="${cliente.nombre_cliente || ''}"  required>
            </div>
            <div class="form-group">
              <label for="nombre">razonsocial Cliente:</label>
              <input type="text" class="form-control" id="razonsocial" name="razonsocial" value="${cliente.razonsocial || ''}"  >
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="text" class="form-control" id="telefono" name="telefono" value="${cliente.telefono || ''}" >
            </div>
            <div class="form-group">
              <label for="direccion">Dirección:</label>
              <input type="text" class="form-control" id="direccion" name="direccion" value="${cliente.direccion || ''}" >
            </div>
            <div class="form-group">
              <label for="estado">Estado:</label>
              <select class="form-select" id="estado" name="estado_cliente" required>
                <option value="Activo" ${cliente.estado_cliente === 'Activo' ? 'selected' : ''}>Activo</option>
                <option value="Inactivo" ${cliente.estado_cliente === 'Inactivo' ? 'selected' : ''}>Inactivo</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button type="button" class="btn btn-secondary" id="cancelarBoton">Cancelar</button>
          </form>
        `,
        showCancelButton: false,
        showConfirmButton: false
      }).then((result) => {
        if (result.isConfirmed) {
          const idCliente = idcliente;
          const dni = document.getElementById("dni").value;
          const nombre = document.getElementById('nombre').value;
          const telefono = document.getElementById('telefono').value;
          const direccion = document.getElementById('direccion').value;
          const estado = document.getElementById('estado').value;
  
          fetch(`/actualizarcliente/${idCliente}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              dni: dni,
              nombre_cliente: nombre,
              telefono: telefono,
              direccion: direccion,
              estado_cliente: estado
            })
          })
          .then(response => {
          if (response.ok) {
            Swal.fire('Éxito', 'El cliente se actualizó correctamente', 'success');
            location.reload();
          } else {
            response.json().then(data => {
              Swal.fire('Error', data.error, 'error');
            });
          }
        })
        .catch(error => {
          Swal.fire('Error', 'Hubo un error en la solicitud', 'error');
        });
      }
    });
    
      document.getElementById('cancelarBoton').addEventListener('click', () => {
        Swal.close();
      });
    }
  </script>
  
  <!-- start: JS -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
    integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="/src/css/script.js"></script>
  <script src="/src/css/jquery-3.5.1.js"></script>
  <script src="/src/css/jquery.dataTables.min.js"></script>
  <script src="/src/css/dataTables.bootstrap5.min.js"></script>
  <!-- end: JS -->
 <script src="/src/ventasjs/getapidni.js"></script> 
 <script src="/src/ventasjs/apiclientedni.js"></script>
</body>

</html>