<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- start: Icons -->
  <!-- start: CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- end: CSS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/src/css/dataTables.bootstrap5.min.css">
  <title>San Mathias</title>
</head>

<body>

  <!-- start: Sidebar -->
  <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
        <a href="/caja" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">San
            Mathias</a>
        <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
        <li class="sidebar-menu-item active">
            <a href="/caja">
                <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                Inicio
            </a>
        </li>
        <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Modulos</li>
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-pages-line sidebar-menu-item-icon"></i>
                Ventas
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
              <li class="sidebar-dropdown-menu-item">
                <a href="/facturaciones">
                  Lista de ventas
                </a>
              </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/ventas">
                        Nueva Venta
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/clientes">
                        Clientes
                    </a>
                </li>
            </ul>
        </li>
       
    </ul>


</div>
  <div class="sidebar-overlay"></div>
  <!-- end: Sidebar -->

  <!-- start: Main -->
  <main class="bg-light">
    <div class="p-2">
      <!-- start: Navbar -->
      <nav class="px-3 py-2 bg-white rounded shadow-sm">
        <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
        <h5 class="fw-bold mb-0 me-auto">Ingresos De Ventas</h5>

        <div class="dropdown">
          <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="me-2 d-none d-sm-block">Cajero </span>
                        <img class="navbar-profile-image"
                            src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-cashier-png-free-material-download-at-work-image_1190664.jpg"
                            alt="Image">
                    </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Cerrar Session</a>
          </div>
        </div>
      </nav>
      <!-- end: Navbar -->

      <!-- start: Content -->
      <!-- end: Navbar -->

      <!-- start: Content -->
      <div class="container-fuild" style="margin-top: 15px;">
        <div class="row">
          <div class="col-md-12">



            <table id="users" class="table">
              <thead>
                <tr>
                  <th scope="col">Orden Venta</th>
                  <th scope="col">Fecha Venta</th>
                  <th scope="col">Usuario Venta</th>
                  <th scope="col">Tipo Comprobante</th>
                  <th scope="col">Serie</th>
                  <th scope="col">Numero</th>
                  <th scope="col">Sub Total</th>
                  <th scope="col">Igv</th>
                  <th scope="col">Total</th>
                  <th scope="col">Monton Pagado</th>
                  <th scope="col">Vuelto</th>
                  <th scope="col">Cliente</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% ventas.forEach(function(venta) { %>
                  <tr>
                    <td>
                      <%= venta.idventa %>
                    </td>
                    <td>
                      <%= venta.fecha_venta.toLocaleString('es-ES', {
                        day: '2-digit',
                        month: '2-digit',
                        year: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit'
                      }) %>
                    </td>
                    
                    <td>
                      <%= venta.cargo %>(<%= venta.nombre %>)
                    </td>
                    <td>
                      <%= venta.tipo_comprobante %>
                    </td>
                    <td>
                      <%= venta.serie %>
                    </td>
                    <td>
                      <%= venta.numero_correlativo %>
                    </td>
                    <td>
                      <%= venta.subtotal %>
                    </td>
                    <td>
                      <%= venta.igv %>
                    </td>
                    <td>
                      <%= venta.totalventa %>
                    </td>
                    <td>
                      <%= venta.montocancelado  %>
                    </td>
                    <td>
                      <%= venta.vuelto %>
                    </td>
                    <td>
                        <%= venta.nombre_cliente %> /  <%= venta.razonsocial %>
                      </td>
                    <td>
                      <button class="btn btn-success" onclick="editar('<%= venta.idventa %>')"><i
                          class="bi bi-arrow-down-circle-fill"></i></button>
                        </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
        
            <script>
                // Frontend - función mostrarFormulario
                function mostrarFormulario2(idventa, datos) {
                  const compra = JSON.parse(datos);
            
                  Swal.fire({
                    title: 'Confirmar Pago',
                    text: '!Atencion una vez que le de al boton "Aceptar" el Estado cambiara a "Pagado" y el incono va desaparecer y si desea anular la compra, contactar con el Administrador',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar'
                  }).then((result) => {
                    if (result.isConfirmed) {
                      const url = `/facturaciones/${idventa}`;
                      fetch(url, {
                        method: 'PUT'
                      })
                        .then(response => {
                          if (response.ok) {
                            Swal.fire('Éxito', 'La compra esta Pagada', 'success');
                            location.reload(); // Recargar la página después de la eliminación exitosa
                          } else {
                            Swal.fire('Error', 'Hubo un error ', 'error');
                          }
                        })
                        .catch(error => {
                          Swal.fire('Error', 'Hubo un error en la solicitud', 'error');
                        });
                    }
                  });
                }
              </script>
              <script>
                async function editar(id) {
                  try {
                    const response = await axios.get(`/auth/facturaciones/${id}`);
                    const datosventas = response.data;
                    console.log(datosventas);
  
                    var newWindow = window.open('', '_blank', `width=${screen.availWidth},height=${screen.availHeight}`);
  
  
  
                    if (datosventas.results[0].tipo_comprobante === 'factura') {
                      // Establecer el contenido para ID 1
                      ventanaContenido = `
         <html>
          <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Comprobante </title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
          <head>
            <title>Detalles de la categoría (para Factura 1)</title>
          </head>
          <body>
            <div class="container" style="margin-top: 6%;">
          <div class="card-body">
              <div style="display: flex; justify-content: space-between;">
                
                <div style="display: flex; flex-direction: column;">
                      <h3>FACTURA</h3> 
                      <h3>${datosventas.results[0].serie}-${datosventas.results[0].numero_correlativo}</h3>
                  </div>
           
                  <div style="margin-top: -25px;">
                      <img style="width: 120px;" src="/src/img/sanmathias.jpg" alt="">
                  </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div class="col-sm-6">
                      <div>
  
                          
                          <h6>Fecha Compra:${datosventas.results[0].fecha_venta}</h6>
                          
  
                      </div>
                      <div>
                          <strong>San Mathias</strong>
                      </div>
                      <div>Circunvalacion</div>
                      <div>Tarapoto, San Martin, Peru</div>
                      <div>Email: sanmathias@gmail.com</div>
                      <div>Phone: +48 444 666 3333</div>
                  </div>
  
                  <div class="col-sm-6">
                      <h6 class="mb-3">cliente:</h6>
                      <div>
                          <strong>${datosventas.results[0].razonsocial}</strong>
                      </div>
                      <div>Ruc : ${datosventas.results[0].ruc}</div>
                              <div>Direccion: ${datosventas.results[0].direccion}</div>
                              <div>Telefono: ${datosventas.results[0].telefono}</div>
                  </div>
  
  
  
              </div>
  
              <div class="table-responsive-sm">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Producto</th>
                              <th>Cantidad</th>
                              <th>Precio Venta</th>
                              <th>Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          ${datosventas.results2.map((compra) => {
                        return `
                              <tr>
                                  <td>${compra.nombre_producto}</td>
                                  <td>${compra.cantidad_vendida}</td>
                                  <td>${compra.precio_venta}</td>
                                  <td>${compra.total}</td>
                              </tr>`;
                      }).join('')}
                      </tbody>
                  </table>
              </div>
              <div style="display: flex; flex-direction: row; gap:180px">
                  <div class="col">
                    <p >Sub Total:</p>
                    <p >${datosventas.results[0].subtotal}</p>
                  </div>
                  <div class="col">
                    <p>IGV:</p>
                    <p>${datosventas.results[0].igv}</p>
                  </div>
                  <div class="col">
                    <p>Total:</p>
                    <p>${datosventas.results[0].totalventa}</p>
                  </div>
                </div>
          </div>
  
      </div>
      </div>
          </body>
        </html>
      `;
                    } else if (datosventas.results[0].tipo_comprobante === 'boleta') {
                      // Establecer el contenido para ID 2
                      ventanaContenido = `
         <html>
          <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Comprobante </title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
          <head>
            <title>Detalles de la categoría (para Boleta 1)</title>
          </head>
          <body>
            <div class="container" style="margin-top: 6%;">
          <div class="card-body">
              <div style="display: flex; justify-content: space-between;">
                <div style="display: flex; flex-direction: column;">
                      <h3>BOLETA ELECTRONICA</h3> 
                      <h3>${datosventas.results[0].serie}-${datosventas.results[0].numero_correlativo}</h3>
                  </div>
                  <div style="margin-top: -25px;">
                      <img style="width: 120px;" src="/src/img/sanmathias.jpg" alt="">
                  </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div class="col-sm-6">
                      <div>
  
                         
                          <h6>Fecha Compra:${datosventas.results[0].fecha_venta}</h6>
                      
  
                      </div>
                      <div>
                          <strong>San Mathias</strong>
                      </div>
                      <div>Circunvalacion</div>
                      <div>Tarapoto, San Martin, Peru</div>
                      <div>Email: sanmathias@gmail.com</div>
                      <div>Phone: +48 444 666 3333</div>
                  </div>
  
                  <div class="col-sm-6">
                      <h6 class="mb-3">Cliente:</h6>
                      <div>
                          <strong>${datosventas.results[0].nombre_cliente}</strong>
                      </div>
        
                      <div> ${datosventas.results[0].dni}</div>
                              <div>Direccion: ${datosventas.results[0].direccion}</div>
                         
                              <div>Telefono: ${datosventas.results[0].telefono}</div>
                  </div>
  
  
  
              </div>
  
              <div class="table-responsive-sm">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Producto</th>
                              <th>Cantidad</th>
                              <th>Precio </th>
                              <th>Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          ${datosventas.results2.map((compra) => {
                        return `
                              <tr>
                                  <td>${compra.nombre_producto}</td>
                                  <td>${compra.cantidad_vendida}</td>
                                  <td>${compra.precio_venta}</td>
                                  <td>${compra.total}</td>
                              </tr>`;
                      }).join('')}
                      </tbody>
                  </table>
              </div>
              <div style="display: flex; flex-direction: row; gap:180px">
                  <div class="col">
                    <p >Sub Total:</p>
                    <p >${datosventas.results[0].subtotal}</p>
                  </div>
                  <div class="col">
                    <p>IGV:</p>
                    <p>${datosventas.results[0].igv}</p>
                  </div>
                  <div class="col">
                    <p>Total:</p>
                    <p>${datosventas.results[0].totalventa}</p>
                  </div>
                </div>
          </div>
  
      </div>
      </div>
          </body>
        </html>
      `;
                    }
                    else if (datosventas.results[0].tipo_comprobante === 'ticket') {
                      // Establecer el contenido para ID 2
                      ventanaContenido = `<h1>Averiguar con el profe</h1>`
                    }
  
                    // Establecer el contenido de la nueva ventana
                    newWindow.document.open();
                    newWindow.document.write(ventanaContenido);
                    newWindow.document.close();
  
  
                  } catch (error) {
                    console.error(error);
                  }
                }
  
  
              </script>
  
  
              <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
              <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  
              <script>
                $(document).ready(function () {
                  $('#users').DataTable();
                });
              </script>
  
              <% if(typeof alert !='undefined' ) { %>
  
                <script>
                  Swal.fire({
                    title: "<%= alertTitle %> ",
                    text: "<%= alertMessage %> ",
                    icon: "<%= alertIcon %> ",
                    showConfirmButton: <%= showConfirmButton %>,
                    timer:<%= timer %> 
                          }).then(() => {
                      window.location = '<%= ruta %> '
                    })
                </script>
                <% } %>
  
            </div>
          </div>
        </div>
  
        <!-- end: Content -->
      </div>
    </main>
    <!-- end: Main -->
  
    <!-- start: JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
      integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
    <script src="/src/css/script.js"></script>
    <script src="/src/css/jquery-3.5.1.js"></script>
    <script src="/src/css/jquery.dataTables.min.js"></script>
    <script src="/src/css/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
    <!-- end: JS -->


</body>

</html>