<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- start: Icons -->
  <!-- start: CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- end: CSS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/src/css/dataTables.bootstrap5.min.css">
  <title>San Mathias</title>
</head>

<body>

  <!-- start: Sidebar -->
  <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
      <a href="/auth" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">San Mathias</a>
      <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
      <li class="sidebar-menu-item active">
        <a href="/auth">
          <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
          Inicio
        </a>
      </li>
      <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Modulos</li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Seguridad
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/usuarios">
              Usuarios
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/perfiles">
              Perfiles
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/recuperar">
                Recuperar Contraseña
            </a>
        </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Almacen
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/lista">
              Productos
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/categoria">
              Categorias
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/unidad">
              Unidades
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Compras
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/almacen">
              Listas Compras
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/compras">
              Ingreso Compras
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/proveedores">
              Proveedores
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
            <i class="ri-pages-line sidebar-menu-item-icon"></i>
            Ventas
            <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/facturaciones">
              Lista de ventas
            </a>
          </li>
            <li class="sidebar-dropdown-menu-item">
                <a href="/auth/ventas">
                    Nueva Venta
                </a>
            </li>
            <li class="sidebar-dropdown-menu-item">
                <a href="/auth/clientes">
                    Clientes
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-menu-item has-dropdown">
      <a href="#">
        <i class="ri-pages-line sidebar-menu-item-icon"></i>
        Reportes
        <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
      </a>
      <ul class="sidebar-dropdown-menu">
        <li class="sidebar-dropdown-menu-item">
          <a href="/auth/reporteventas">
            Reporte ventas
          </a>
        </li>
        <li class="sidebar-dropdown-menu-item">
          <a href="/auth/reportecompras">
            Reporte Compras
          </a>
        </li>
        <li class="sidebar-dropdown-menu-item">
          <a href="/auth/reporteusuarios">
            Reporte Usuarios
          </a>
        </li>
        <li class="sidebar-dropdown-menu-item">
          <a href="/auth/reportestock">
            Reporte Stock
          </a>
        </li>
      </ul>
    </li>
    </ul>
  </div>
  <div class="sidebar-overlay"></div>
  <!-- end: Sidebar -->

  <!-- start: Main -->
  <main class="bg-light">
    <div class="p-2">
      <!-- start: Navbar -->
      <nav class="px-3 py-2 bg-white rounded shadow-sm">
        <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
        <h5 class="fw-bold mb-0 me-auto">Productos</h5>

        <div class="dropdown">
          <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="me-2 d-none d-sm-block">Adminstrador </span>
            <img class="navbar-profile-image"
              src="https://marketplace.magento.com/media/catalog/product/4/a/4acb_rsz_admin-logo_1.png" alt="Image">
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Cerrar Session</a>
          </div>
        </div>
      </nav>
      <!-- end: Navbar -->

      <!-- start: Content -->
      <!-- end: Navbar -->

      <!-- start: Content -->
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="overflow: auto;">
            
              <button class="btn btn-primary" id="botonagregar" style="margin-top: 15px; margin-bottom: 15px;">Agregar Productos</button>
              <table id="users" class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Estado</th>
                    <th>Acciones</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <% productos.forEach(function(producto) { %>
                    <tr>
                      <td>
                        <%= producto.idproducto %>
                      </td>
                      <td>
                        <%= producto.codigo_producto %>
                      </td>
                      <td>
                        <%= producto.nombre_producto %>
                      </td>
                      <td>
                        <%= producto.nombre_categoria %>
                      </td>
                      <td>
                        <%= producto.nombre_unidad %>
                      </td>
                      <td>
                        <%= producto.stock %>
                      </td>
                      <td>
                        <%= producto.precio_venta %>
                      </td>
                      <td>
                        <%= producto.descripcion %>
                      </td>
                      <td>
                        <% if (producto.stock === 0) { %>
                          Inactivo
                        <% } else { %>
                          <%= producto.estado_producto %>
                        <% } %>
                      </td>
                      <td>
                        <button class="btn btn-success"
                          onclick="editar('<%= producto.idproducto %>')"><i class="bi bi-box-arrow-up-right"></i></button>

                       
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>

              <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
              <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

              <script>
                $(document).ready(function () {
                  $('#users').DataTable();
                });
              </script>

              <% if(typeof alert !='undefined' ) { %>

                <script>
                  Swal.fire({
                    title: "<%= alertTitle %> ",
                    text: "<%= alertMessage %> ",
                    icon: "<%= alertIcon %> ",
                    showConfirmButton: <%= showConfirmButton %>,
                    timer:<%= timer %> 
                        }).then(() => {
                      window.location = '<%= ruta %> '
                    })
                </script>
                <% } %>
            
          </div>
        </div>
      </div>

      <!-- end: Content -->
    </div>
  </main>
  <!-- end: Main -->

  <!-- start: JS -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
    integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="/src/css/script.js"></script>
  <script src="/src/css/jquery-3.5.1.js"></script>
  <script src="/src/css/jquery.dataTables.min.js"></script>
  <script src="/src/css/dataTables.bootstrap5.min.js"></script>
  <!-- end: JS -->
  <script>
    // Frontend - función mostrarFormulario
    function mostrarFormulario2(idproducto, datos) {
      const usuario = JSON.parse(datos);

      Swal.fire({
        title: 'Confirmar eliminación',
        text: '¿Estás seguro de que quieres eliminar este producto de la Base de Datos? ',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          const url = `/auth/eliminarcliente/${idproducto}`;
          fetch(url, {
            method: 'DELETE'
          })
            .then(response => {
              if (response.ok) {
                Swal.fire('Éxito', 'El cliente se eliminó correctamente', 'success');
                location.reload(); // Recargar la página después de la eliminación exitosa
              } else {
                Swal.fire('Error', 'Hubo un error al eliminar el cliente', 'error');
              }
            })
            .catch(error => {
              Swal.fire('Error', 'Hubo un error en la solicitud', 'error');
            });
        }
      });
    }
  </script>

  <script>
    async function editar(id) {
      try {
        const response = await axios.get(`/auth/lista/${id}`);
        const response3 = await axios.get(`/auth/categoria1`);
        const response5 = await axios.get(`/auth/unidad1`);

        const categorias = response3.data;
        const unidades = response5.data;
        const datosProducto = response.data[0];

        console.log(datosProducto);
        console.log(categorias);
        console.log(unidades);

        let categoriaOptions = "";

        let unidadesOptions = "";
        categorias.forEach((categoria) => {
          if (categoria.nombre_categoria === datosProducto.nombre_categoria) {
            categoriaOptions += `<option value="${categoria.idcategoria}" selected>${categoria.nombre_categoria}</option>`;
          } else {
            categoriaOptions += `<option value="${categoria.idcategoria}">${categoria.nombre_categoria}</option>`;
          }
        });
        unidades.forEach((unidad) => {
          if (unidad.nombre_unidad === datosProducto.nombre_unidad) {
            unidadesOptions += `<option value="${unidad.idunidad}" selected>${unidad.nombre_unidad}</option>`;
          } else {
            unidadesOptions += `<option value="${unidad.idunidad}">${unidad.nombre_unidad}</option>`;
          }
        });

        Swal.fire({
          title: 'Detalles del Producto',
          html: `
      <form id="actualizarProveedorForm" method="post" action="/auth/actualizar/${datosProducto.idproducto}">
      
        <div class="form-group">
      <label for="codigo_producto">codigo_producto:</label>
      <input type="text" class="form-control" id="codigo_producto" name="codigo_producto" value="${datosProducto.codigo_producto}" required>
        </div>
        <div class="form-group">
      <label for="nombre_producto">nombre_producto:</label>
      <input type="text" class="form-control" id="nombre_producto" name="nombre_producto" value="${datosProducto.nombre_producto}" required>
        </div>

        <div class="form-group">
          <label for="perfil">Categoria</label>
          <select class="form-select" id="nombre_categoria" name="nombre_categoria" required>
        ${categoriaOptions}           
         </select>
        </div>

        <div class="form-group">
          <label for="perfil">Unidad:</label>
          <select class="form-select" id="nombre_unidad" name="nombre_unidad" required>
        ${unidadesOptions}           
         </select>
        </div>
        <div class="form-group">
      <label for="stock">Stock:</label>
      <input type="number" class="form-control" id="stock" name="stock" value="${datosProducto.stock}" required>
        </div>
        <div class="form-group">
      <label for="precio_venta">Precio Venta:</label>
      <input type="number" step="0.01" class="form-control" id="precio_venta" name="precio_venta" value="${datosProducto.precio_venta}" required>
        </div>

        <div class="form-group">
      <label for="descripcion">descripcion:</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion" value="${datosProducto.descripcion}" required>
        </div>
        <div class="form-group">
          <label for="estado_producto">Estado:</label>
          <select class="form-select" id="estado_producto" name="estado_producto" required>
            <option value="Activo" ${datosProducto.estado_producto === 'Activo' ? 'selected' : ''}>Activo</option>
            <option value="Inactivo" ${datosProducto.estado_producto === 'Inactivo' ? 'selected' : ''}>Inactivo</option>
          </select>
        </div>

        <!-- Resto del formulario -->
        <button  class="submit" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer;" id="actualizar">Actualizar</button>
        <a href="#" class="cancel" style="background-color: #d33; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer; margin-left: 10px;" id="cancelarBoton">Cancelar</a>
      </form>
    `,
          showCancelButton: false,
          showConfirmButton: false
        });
        document.getElementById('cancelarBoton').addEventListener('click', () => {
          Swal.close(); // Cierra el cuadro de diálogo sin realizar ninguna acción adicional
        });

        function validarFormulario() {
          const codigo = document.getElementById('codigo_producto').value;
          const nombre = document.getElementById('nombre_producto').value;

          const unidad = document.getElementById('nombre_unidad').value;

          const descripcion = document.getElementById('descripcion').value;

          const categoria = document.getElementById('nombre_categoria').value;

          if (!nombre || !codigo || !unidad || !descripcion || !categoria) {
            Swal.fire('Error', 'Debe completar todos los campos', 'error');
            return false;
          }

          return true;
        }


        document.getElementById('actualizar').addEventListener('click', (event) => {

          if (validarFormulario()) {
            document.getElementById('actualizarProveedorForm').submit();
            Swal.close();


          }
        });



      } catch (error) {
        console.error(error);
      }
    }
  </script>


  <script>
    document.getElementById('botonagregar').addEventListener('click', () => {
      Swal.fire({
        title: 'Agregar Productos',
        html: `
      <form id="agregarUsuarioForm" method="post" action="/auth/lista">

  <div class="form-group">
  <label for="producto">Codigo Producto:</label>
  <input type="text" class="form-control" id="codigo" name="codigo_producto" required style="border-radius: 5px; border: 1px solid #ccc; padding: 8px; width: 100%;" required>
</div>
<div class="form-group">
  <label for="producto">Nombre Producto:</label>
  <input type="text" class="form-control" id="producto" name="nombre_producto" required style="border-radius: 5px; border: 1px solid #ccc; padding: 8px; width: 100%;" required>
</div>

<!-- Categoría select dropdown -->
<div class="form-group">
<label for="nombrecategoria">Categoría:</label>
<select class="form-select" id="nombrecategoria" name="nombre_categoria" required>
  <% categorias.forEach(function(categoria) { %>
    <option value="<%= categoria.idcategoria %>"><%= categoria.nombre_categoria %></option>
  <% }); %>
</select>
</div>


<!-- Categoría select dropdown -->
<div class="form-group">
<label for="nombreunidad">Unidad:</label>
<select class="form-select" id="nombreunidad" name="nombre_unidad" required>
  <% unidades.forEach(function(unidad) { %>
    <option value="<%= unidad.idunidad %>"><%= unidad.nombre_unidad %></option>
  <% }); %>
</select>
</div>

<div class="form-group">
  <label for="stock">Stock:</label>
  <input type="number" class="form-control" id="stock" name="stock" style="border-radius: 5px; border: 1px solid #ccc; padding: 8px; width: 100%;" required>
</div>

<div class="form-group">
  <label for="precioventa">Precio venta:</label>
  <input type="number" step="0.01" class="form-control" id="precio_venta" name="precio_venta" style="border-radius: 5px; border: 1px solid #ccc; padding: 8px; width: 100%;" required>
</div>

<div class="form-group">
  <label for="descripcion">Descripcion:</label>
  <input type="text" name="descripcion" id="descripcion" required style="border-radius: 5px; border: 1px solid #ccc; padding: 8px; width: 100%;" required>
</div>
<div class="checkbox">
        <label>
          <input type="checkbox" name="estado_producto" id="estado" value="Activo" checked> Activo
        </label>
</div>
<button class="submit" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer;">Registrar</button>
<a href="#" class="cancel" style="background-color: #d33; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer; margin-left: 10px;" id="cancelarBoton">Cancelar</a>
</form>

    `,
        showCancelButton: false,
        showConfirmButton: false
      });
      document.getElementById('cancelarBoton').addEventListener('click', () => {
        Swal.close(); // Cierra el cuadro de diálogo sin realizar ninguna acción adicional
      });
      function validarFormulario() {
        const codigo = document.getElementById('codigo').value;
        const nombre = document.getElementById('producto').value;
        const unidad = document.getElementById('nombreunidad').value;
        const descripcion = document.getElementById('descripcion').value;
        const categoria = document.getElementById('nombrecategoria').value;

        if (!nombre || !codigo || !unidad || !descripcion || !categoria) {
          Swal.fire('Error', 'Debe completar todos los campos', 'error');
          return false;
        }

        return true;
      }

      document.getElementById('registrarBoton').addEventListener('click', (event) => {
        if (validarFormulario()) {
          document.getElementById('agregarUsuarioForm').submit();
          event.preventDefault();
          location.reload();
          Swal.close();
        }
      });
    });
  </script>

</body>

</html>