<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- start: Icons -->
  <!-- start: CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- end: CSS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/src/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="/src/css/registro.css">
  <title>San Mathias</title>
</head>

<body>

  <!-- start: Sidebar -->
  <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
      <a href="/auth" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">San Mathias</a>
      <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
      <li class="sidebar-menu-item active">
        <a href="/auth">
          <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
          Inicio
        </a>
      </li>
      <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Modulos</li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Seguridad
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/usuarios">
              Usuarios
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/perfiles">
              Perfiles
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/recuperar">
              Recuperar Contraseña
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Almacen
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/lista">
              Productos
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/categoria">
              Categorias
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/unidad">
              Unidades
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Compras
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/almacen">
              Listas Compras
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/compras">
              Ingreso Compras
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/proveedores">
              Proveedores
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Ventas
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/facturaciones">
              Lista de ventas
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/ventas">
              Nueva Venta
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/clientes">
              Clientes
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="sidebar-overlay"></div>
  <!-- end: Sidebar -->

  <!-- start: Main -->
  <main class="bg-light">
    <div class="p-2">
      <!-- start: Navbar -->
      <nav class="px-3 py-2 bg-white rounded shadow-sm">
        <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
        <h5 class="fw-bold mb-0 me-auto">Registro Ventas</h5>

        <div class="dropdown">
          <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="me-2 d-none d-sm-block">Adminstrador </span>
            <img class="navbar-profile-image"
              src="https://marketplace.magento.com/media/catalog/product/4/a/4acb_rsz_admin-logo_1.png" alt="Image">
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Cerrar Session</a>
          </div>
        </div>
      </nav>
      <!-- end: Navbar -->

      <!-- start: Content -->
      <!-- end: Navbar -->
      <div class="scrollable" style="max-height: 570px; overflow-y: scroll;">
        <!-- start: Content -->
        <div class="container">

          <form action="/auth/ventas" method="post">
            <input type="hidden" placeholder="idcliente" id="idcliente" name="idcliente" >
            <input type="text" placeholder="idusuario" id="idusuario" value="<%= idUsuario %>" name="idusuario" readonly>
            <div class="form first">
              <div class="details personal">
                <span class="title">Cliente</span>
                <div class="fields">

                  <div class="input-field">
                    <label>Tipo de Comprobante</label>
                    <select name="tipo_comprobante" id="tipo_comprobante" required>
                      <option value="">Seleccione</option>

                      <option value="factura">Factura</option>
                      <option value="boleta">Boleta</option>
                    </select>
                  </div>
                  <div class="input-field"
                    style="display: flex; flex-direction: row; justify-content: end; align-items: center; gap: 5px;">
                    <div style=" display: flex;
                    width: 100%;
                    flex-direction: column;
                    margin: 4px 0;">
                      <label>Buscar Cliente:</label>
                      <input type="text" placeholder="Buscar Cliente" id="dni" name="dni" >
                      <input type="text" placeholder="Buscar Cliente" id="ruc" name="ruc" style="display: none;" >
                    </div>
                   
                    <div style="margin-top: 1em;  ">
                      <a class="btn btn-primary" id="buscarcliente" style="width: 3em; font-size: 1.2em;"><i
                        class="bi bi-search"></i></a>
                    </div>
                  </div>
                  <div class="input-field">
                    <label>Cliente</label>
                    <input type="text" placeholder="Nombre Cliente" id="nombre_cliente" name="nombre_cliente"  >
                    <input type="text" placeholder="Razón Social" id="razon_social" name="razon_social" style="display: none;" >
                  </div>
                  <div class="input-field">
                    <label>Direccion</label>
                    <input type="text" placeholder="Direccion (Opcional)" id="direccion" name="direccion"  >
                  </div>
                  <div class="input-field">
                    <label>Serie/Follo</label>
                    <input type="text" placeholder="Serie" name="serie" id="serie" required>
                  </div>
                  <div class="input-field">
                    <label>Numero Correlativo:</label>
                    <input type="text" placeholder="Numero Correlativo" name="numero_correlativo"
                      id="numero_correlativo" required>
                  </div>

                </div>
              </div>
              <div class="details ID">
                <span class="title">Producto</span>
                <div class="fields">
                  <div class="input-field" style="display: flex; flex-direction: row; gap: 5px;">
                    <div>
                      <label>Buscar Producto</label>
                      <input style="width: 100%;" type="text" placeholder="Buscar Producto" id="codigo_producto"
                        readonly required>
                    </div>

                    <div style="margin-top: 2em;">
                      <a class="btn btn-primary" id="agregartabla" style="width: 3em; font-size: 1.2em;"><i
                          class="bi bi-search"></i></a>
                    </div>

                  </div>
                  <div class="input-field">
                    <label>Impuesto (%):</label>
                    <input type="text" id="impuesto" placeholder="Impuesto" value="0" readonly required>
                  </div>
                  <div class="input-field">
                    <label>Fecha Venta:</label>
                    <input type="datetime-local" placeholder="Fecha Compra" name="fecha_venta" required>
                  </div>
                </div>

                <table class="table" id="tablaDestino">
                  <thead>
                    <tr>
                      <th scope="col">Nombre Producto</th>
                      <th scope="col">Stock</th>
                      <th scope="col">Precio Venta</th>
                      <th scope="col">Cantidad Vendida</th>
                      <th scope="col">Total</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>

                  <tbody class="table-group-divider">

                  </tbody>
                </table>
              </div>
            </div>
            <div class="fields">
              <div class="input-field">
                <label>Sub Total:</label>
                <input type="number" placeholder="Sub Total" id="subtotal" name="subtotal" readonly required>
              </div>
              <div class="input-field">
                <label>IGV:</label>
                <input type="number" placeholder="IGV" id="igv" readonly name="igv" required>
              </div>
              <div class="input-field">
                <label>Total:</label>
                <input type="number" step="0.01" placeholder="Total" id="calculoTotal" name="totalventa" readonly
                  required>
              </div>
              <div class="input-field">
                <label>Monto a Cancelar:</label>
                <input type="number" step="0.01" placeholder="montocancelado" id="monto" name="montocancelado" required>
              </div>
              <div class="input-field">
                <label>Vuelto:</label>
                <input type="number" step="0.01" placeholder="vuelto" id="vuelto" name="vuelto" readonly required>
              </div>
            </div>
            <div>
              <textarea style="display: none;" name="comprasjson" id="datosComprasInput" cols="30" rows="10"></textarea>
            </div>
            <div style="display: flex; gap: 10px;">
              <button type="submit" id="enviarBtn" class="btn btn-primary">Registrar Pedido</button>
            </div>

        </div>
      </div>
    </div>
    </form>

     <script>
    const tipoComprobanteSelect = document.getElementById('tipo_comprobante');
    const impuestoInput = document.getElementById('impuesto');
    const serie = document.getElementById('serie');
    const numeroCorrelativoInput = document.getElementById('numero_correlativo');
    // Agregar un evento de cambio al select
    tipoComprobanteSelect.addEventListener('change', function () {
      if (tipoComprobanteSelect.value === 'factura') {
        impuestoInput.value = '0';
        serie.value = 'F001';
        numeroCorrelativoInput.value = "<%= (parseInt(factura.numero_correlativo) + 1).toString().padStart(8, '0') %>";
      } else if(tipoComprobanteSelect.value === 'boleta') {
        impuestoInput.value = '0';
        serie.value = 'B001';
        numeroCorrelativoInput.value = "<%= (parseInt(boleta.numero_correlativo) + 1).toString().padStart(8, '0') %>";
        
      }

      else{
        serie.value = '';
        numeroCorrelativoInput.value = '';
      }
    });
  </script>


    <% if(typeof alert !='undefined' ) { %>

      <script>
        Swal.fire({
          title: "<%= alertTitle %> ",
          text: "<%= alertMessage %> ",
          icon: "<%= alertIcon %> ",
          showConfirmButton: <%= showConfirmButton %>,
          timer:<%= timer %> 
                        }).then(() => {
            window.location = '<%= ruta %> '
          })
      </script>
      <% } %>
        </div>

        </div>

        <!-- end: Content -->
        </div>
  </main>
  <!-- end: Main -->

  <!-- Importante para venta -->
<script>
  // Obtener referencias a los elementos del DOM
  const tipoComprobante = document.getElementById('tipo_comprobante');
  const nombreCliente = document.getElementById('nombre_cliente');
  const razonSocial = document.getElementById('razon_social');
  const dnicliente = document.getElementById('dni');
  const ruccliente = document.getElementById('ruc');

  // Agregar un event listener para detectar cambios en el menú desplegable
  tipoComprobante.addEventListener('change', function() {
    if (tipoComprobante.value === 'factura') {
      nombreCliente.style.display = 'none';
      razonSocial.style.display = 'block';
      ruccliente.style.display = 'block';
      dnicliente.style.display = 'none';

      razonSocial.setAttribute('required', 'required');
      ruccliente.setAttribute('required', 'required');
      dnicliente.removeAttribute('required');
      nombreCliente.removeAttribute('required');
    } else if (tipoComprobante.value === 'boleta') {
      nombreCliente.style.display = 'block';
      razonSocial.style.display = 'none';
      ruccliente.style.display = 'none';
      dnicliente.style.display = 'block';

      nombreCliente.setAttribute('required', 'required');
      dnicliente.setAttribute('required', 'required');
      razonSocial.removeAttribute('required');
      ruccliente.removeAttribute('required');
    } else {
      nombreCliente.style.display = 'block';
      razonSocial.style.display = 'none';
      ruccliente.style.display = 'none';
      dnicliente.style.display = 'block';

      nombreCliente.setAttribute('required', 'required');
      dnicliente.setAttribute('required', 'required');
      razonSocial.removeAttribute('required');
      ruccliente.removeAttribute('required');
    }
  });
</script>

  


  <script>
    document.getElementById('agregartabla').addEventListener('click', () => {
      Swal.fire({
        title: 'Agregar Productos',
        html: `
        <table id="users" class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Unidad</th>
 
              
                    <th>Acciones</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <% productos.forEach(function(producto) { %>
                    <tr>
                      <td>
                        <%= producto.idproducto %>
                      </td>
                      <td>
                        <%= producto.nombre_producto %>
                      </td>
                      <td>
                        <%= producto.stock %>
                      </td>
                      <td>
                        <%= producto.precio_venta %>
                      </td>
                      <td>
                        <%= producto.nombre_categoria %>
                      </td>
               
                 
                     
                      <td><button class="btn btn-primary agregarBtn">Agregar</button></td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
          <button id="cancelarAgregarProveedor" class="btn btn-secondary">Cancelar</button>
        `,
        width: '100%',
        showCancelButton: false,
        showConfirmButton: false
      });




      document.querySelectorAll('.agregarBtn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const rowData = btn.parentNode.parentNode.querySelectorAll('td');
          const [idproducto, nombre_producto, stock, precio_venta] = Array.from(rowData).slice(0, 4).map(td => td.textContent.trim());
          const cantidad = '';
          const Total = '';




          const targetTable = document.getElementById('tablaDestino');
          const newRow = document.createElement('tr');
          newRow.innerHTML = `
      <td><input type="text" value="${nombre_producto}" class="form-control"readonly></td>
      <td><input type="text" value="${stock}" class="form-control stock"readonly></td>
      <td><input id="precio" type="text" value="${precio_venta}" class="form-control precioventa" required readonly></td>
      <td><input type="number" value="${cantidad}" class="form-control cantidad" required></td>
      <td><input type="text"step="0.01" value="${Total}" class="form-control total" readonly required></td>
      <td><button type="button" class="eliminarBtn" >Eliminar</button></td>
      <td><input type="hidden" value="${idproducto}" class="form-control"readonly></td>
    `

            ;

          targetTable.appendChild(newRow);

          Swal.close();
          const precioVentaInput = newRow.querySelector('.precioventa');
          const stockInput = newRow.querySelector('.stock');
          const cantidadInput = newRow.querySelector('.cantidad');
          const totalInput = newRow.querySelector('.total');
          const eliminarBtn = newRow.querySelector('.eliminarBtn');
          cantidadInput.addEventListener('input', calcularTotal);
          precioVentaInput.addEventListener('input', calcularTotal);
          eliminarBtn.addEventListener('click', () => {
            targetTable.removeChild(newRow);
            calcularSumaTotal();

          });

          function calcularTotal() {
  const cantidadValue = parseFloat(cantidadInput.value);
  const precioVentaValue = parseFloat(precioVentaInput.value);
  const stockValue = parseFloat(stockInput.value);

  if (isNaN(cantidadValue) || isNaN(precioVentaValue)) {
    totalInput.value = '';
    calcularSumaTotal();
    return;
  }

  if (cantidadValue > stockValue) {
    totalInput.value = '';
    cantidadInput.value="";
    alert('La cantidad es mayor que el stock');
  } else {
    totalInput.value = (cantidadValue * precioVentaValue).toFixed(2);
  }

  calcularSumaTotal();
}
        });
      });


      const calcularSumaTotal = () => {
        const totalInputs = document.querySelectorAll('.total');
        let sumaTotal = 0;

        totalInputs.forEach(input => {
          const valor = parseFloat(input.value);

          // Verificar si el valor es numérico antes de sumarlo
          if (!isNaN(valor)) {
            sumaTotal += valor;
          }
        });

        let igv = 0;
        const costoTotal = parseFloat(document.getElementById('impuesto').value);
        const total = parseFloat(sumaTotal + igv);

        document.getElementById('subtotal').value = sumaTotal.toFixed(2);
        document.getElementById('igv').value = igv.toFixed(2);
        document.getElementById('calculoTotal').value = total.toFixed(2);

        enviarDatosCompras(); // Llamar a la función para calcular el vuelto después de actualizar los valores
      };




      const enviarDatosCompras = () => {
        const filasTabla = document.querySelectorAll('#tablaDestino tr:not(:first-child)');
        const datosCompras = [];

        filasTabla.forEach(fila => {
          const inputs = fila.querySelectorAll('input');
          const [nombre_producto, stock, precio_venta, cantidad, Total, idproducto] = Array.from(inputs).map(input => input.value);

          const filaVentas = {
            nombre_producto,
            stock,
            precio_venta,
            cantidad,
            Total,
            idproducto
          };
          datosCompras.push(filaVentas);
          console.log(filaVentas)
          const datosVentasInput = document.getElementById('datosComprasInput'); // Reemplaza 'datosComprasInput' con el ID de tu campo de entrada

          // Convertir el arreglo a una cadena JSON
          const datosComprasJSON = JSON.stringify(datosCompras);

          // Asignar el valor al campo de entrada
          datosVentasInput.value = datosComprasJSON;

        })
      }

      document.getElementById('cancelarAgregarProveedor').addEventListener('click', () => {
        Swal.close();
      });

      $(document).ready(function () {
        $('#users').DataTable();
      });
    });
  </script>


  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const montoInput = document.getElementById('monto');
      const vueltoInput = document.getElementById('vuelto');
      const enviarBtn = document.getElementById('enviarBtn');
      montoInput.addEventListener('input', calcularVuelto);

      enviarBtn.addEventListener('click', (event) => {
        if (montoInput.value.trim() === '') {
          alert('El campo Monto a Cancelar es requerido.');
          event.preventDefault(); // Evita el envío del formulario
        } else if (vueltoInput.value.trim() === '') {
          alert('El campo Vuelto es requerido.');
          event.preventDefault(); // Evita el envío del formulario
        } else {
          // Aquí puedes agregar la lógica para enviar los datos
        }
      });

      function calcularVuelto() {
        const totalInput = document.getElementById('calculoTotal');

        const totalValue = parseFloat(totalInput.value);
        const montoValue = parseFloat(montoInput.value);

        if (!isNaN(totalValue) && !isNaN(montoValue)) {
          if (montoValue >= totalValue) {
            const vuelto = montoValue - totalValue;
            vueltoInput.value = vuelto.toFixed(2);
          } else {
            vueltoInput.value = '';
          }
        } else {
          vueltoInput.value = '';
        }
      }
    });
  </script>







  <script>
    document.getElementById('buscarcliente').addEventListener('click', () => {
      Swal.fire({
        title: 'Agregar Cliente',
        html: `
        <div style="margin-top: 25px; display: flex; justify-content: start; margin-left: 20px;">
          <a href="/auth/clientes"
                            style="text-decoration: none; padding: 10px; background-color: rgb(6, 133, 223); color: white; border-radius: 10px; border-color:white"
                            class="btn-primary">Ir a Agregar Proveedor </a>
              </div>
  
          <table id="users" class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">dni</th>
                <th scope="col">ruc</th>
                <th scope="col">nombre_cliente  </th>
                <th scope="col">razon social  </th>
                <th scope="col">telefono  </th>
                <th scope="col">direccion  </th>
                <th scope="col">estado_cliente  </th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <% clientes.forEach(function(cliente) { %>
                <tr>
                  <td><%= cliente.idcliente %></td>
                  <td><%= cliente.dni %></td>
                  <td><%= cliente.ruc %></td>
                  <td><%= cliente.nombre_cliente %></td>
                  <td><%= cliente.razonsocial %></td>
                  <td><%= cliente.telefono %></td>
                  <td><%= cliente.direccion %></td>
                  <td><%= cliente.estado_cliente %></td>
                  <td>
                    <input type="radio" name="cliente" value="<%= cliente.idcliente %>" data-proveedor='<%= JSON.stringify(cliente) %>'>
                 </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
          <button id="agregarCliente" class="btn btn-primary">Agregar</button>
          <button id="cancelarAgregarProveedor" class="btn btn-secondary">Cancelar</button>
        `,
        width: '100%',
        showCancelButton: false,
        showConfirmButton: false
      });

      document.getElementById('agregarCliente').addEventListener('click', () => {
        const selectedProveedor = document.querySelector('input[name="cliente"]:checked');
        if (selectedProveedor) {
          const clienteData = JSON.parse(selectedProveedor.getAttribute('data-proveedor'));
          document.getElementById('nombre_cliente').value = clienteData.nombre_cliente;
          document.getElementById('dni').value = clienteData.dni;
          document.getElementById('ruc').value = clienteData.ruc;
          document.getElementById('razon_social').value = clienteData.razonsocial;
          document.getElementById('direccion').value = clienteData.direccion;
          document.getElementById('idcliente').value = clienteData.idcliente;
          Swal.close();
        } else {
          Swal.fire(`Selecciona un Cliente 
          Por Favor`);
        }
      });

      document.getElementById('cancelarAgregarProveedor').addEventListener('click', () => {
        Swal.close();
      });



      $(document).ready(function () {
        $('#users').DataTable();
      });
    });
  </script>


  <!-- start: JS -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
    integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="/src/css/script.js"></script>
  <script src="/src/css/jquery-3.5.1.js"></script>
  <script src="/src/css/jquery.dataTables.min.js"></script>
  <script src="/src/css/dataTables.bootstrap5.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
  <!-- end: JS -->
  <script src="/src/ventasjs/apiclientedni.js"></script>


</body>

</html>