<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- start: Icons -->
  <!-- start: CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- end: CSS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/src/css/dataTables.bootstrap5.min.css">
  <title>San Mathias</title>
</head>

<body>

  <!-- start: Sidebar -->
  <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
        <a href="/almacen" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">San
            Mathias</a>
        <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
        <li class="sidebar-menu-item active">
            <a href="/almacen">
                <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                Inicio
            </a>
        </li>
        <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Modulos</li>
        </li>
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-pages-line sidebar-menu-item-icon"></i>
                Almacen
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a href="/lista">
                        Productos
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/categoria">
                        Categorias
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/unidad">
                        Unidades
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-pages-line sidebar-menu-item-icon"></i>
                Compras
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a href="/ingreso-almacen">
                      Listas Compras
                    </a>
                  </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/compras">
                        Ingreso Compras
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a href="/proveedores">
                        Proveedores
                    </a>
                </li>
            </ul>
        </li>
    </ul>


</div>
  <div class="sidebar-overlay"></div>
  <!-- end: Sidebar -->

  <!-- start: Main -->
  <main class="bg-light">
    <div class="p-2">
      <!-- start: Navbar -->
      <nav class="px-3 py-2 bg-white rounded shadow-sm">
        <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
        <h5 class="fw-bold mb-0 me-auto">Proveedores</h5>

        <div class="dropdown">
          <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="me-2 d-none d-sm-block">Almacenero </span>
            <img class="navbar-profile-image"
              src="https://w7.pngwing.com/pngs/979/902/png-transparent-laborer-computer-icons-warehouse-warehouse-miscellaneous-angle-warehouse-worker.png" alt="Image">
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Cerrar Session</a>
          </div>
        </div>
      </nav>
      <!-- end: Navbar -->

      <!-- start: Content -->
      <!-- end: Navbar -->

      <!-- start: Content -->
      <div class="container-fuild" style="overflow: auto;">
        <div class="row">
          <div class="col-md-12">

            <button class="btn btn-primary" id="botonagregar" style="margin-top: 15px; margin-bottom: 15px;">Agregar
              Proveedor</button>
            <table id="users" class="table">
              <thead>
                <tr>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Ruc</th>
                  <th scope="col">Direccion</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Pais</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Email</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% proveedores.forEach(function(proveedor) { %>
                  <tr>
                    <td>
                      <%= proveedor.nombre_empresa %>
                    </td>
                    <td>
                      <%= proveedor.ruc %>
                    </td>
                    <td>
                      <%= proveedor.direccion %>
                    </td>
                    <td>
                      <%= proveedor.ciudad %>
                    </td>
                    <td>
                      <%= proveedor.pais %>
                    </td>
                    <td>
                      <%= proveedor.telefono %>
                    </td>
                    <td>
                      <%= proveedor.email %>
                    </td>
                    <td>
                      <%= proveedor.estado_proveedor %>
                    </td>
                    <td>
                      <button class="btn btn-success"
                        onclick="mostrarFormulario('<%= proveedor.idproveedor %>', '<%= JSON.stringify(proveedor) %>')">
                        <i class="bi bi-box-arrow-up-right"></i>
                      </button>
                      <button class="btn btn-danger" id="eliminarClienteBtn"
                      onclick="mostrarFormulario2('<%= proveedor.idproveedor %>', '<%= JSON.stringify(proveedor) %>')"><i class="bi bi-trash-fill"></i></button>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <script>
              $(document).ready(function () {
                $('#users').DataTable();
              });
            </script>

            <% if(typeof alert !='undefined' ) { %>

              <script>
                Swal.fire({
                  title: "<%= alertTitle %> ",
                  text: "<%= alertMessage %> ",
                  icon: "<%= alertIcon %> ",
                  showConfirmButton: <%= showConfirmButton %>,
                  timer:<%= timer %> 
                        }).then(() => {
                    window.location = '<%= ruta %> '
                  })
              </script>
              <% } %>

          </div>
        </div>
      </div>

      <!-- end: Content -->
    </div>
  </main>
  <!-- end: Main -->

  <!-- start: JS -->
  <script>
    // Frontend - función mostrarFormulario
    function mostrarFormulario2(idproveedor, datos) {
      const usuario = JSON.parse(datos);

      Swal.fire({
        title: 'Confirmar eliminación',
        text: '¿Estás seguro de que quieres eliminar este proveedor de la Base de Datos? ',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          const url = `/eliminarproveedor/${idproveedor}`;
          fetch(url, {
            method: 'DELETE'
          })
            .then(response => {
              if (response.ok) {
                Swal.fire('Éxito', 'El cliente se eliminó correctamente', 'success');
                location.reload(); // Recargar la página después de la eliminación exitosa
              } else {
                Swal.fire('Error', 'Hubo un error al eliminar el cliente', 'error');
              }
            })
            .catch(error => {
              Swal.fire('Error', 'Hubo un error en la solicitud', 'error');
            });
        }
      });
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
    integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="/src/css/script.js"></script>
  <!-- end: JS -->



  <script>
    // Frontend - función mostrarFormulario
    function mostrarFormulario(idproveedor, datos) {
      const proveedor = JSON.parse(datos);

      Swal.fire({
        title: 'Detalles del Proveedor',
        html: `
    <form id="actualizarProveedorForm" method="post" action="/actualizarproveedor/${idproveedor}">
      <div class="form-group">
        <label for="nombre">Nombre de la Empresa:</label>
        <input type="text" class="form-control" id="nombre" name="nombre_empresa" value="${proveedor.nombre_empresa || ''}" required>
      </div>
      <div class="form-group">
      <label for="ruc">Ruc:</label>
      <input type="number" class="form-control" id="ruc" name="ruc" value="${proveedor.ruc || ''}" readonly required>
    </div>
    <div class="form-group">
      <label for="direccion">Direccion:</label>
      <input type="text" class="form-control" id="direccion" name="direccion" value="${proveedor.direccion || ''}" required>
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad:</label>
      <input type="text" class="form-control" id="ciudad" name="ciudad" value="${proveedor.ciudad || ''}" required>
    </div>
    <div class="form-group">
      <label for="pais">Pais:</label>
      <input type="text" class="form-control" id="pais" name="pais" value="${proveedor.pais || ''}" required>
    </div>
    <div class="form-group">
      <label for="telefono">Telefono:</label>
      <input type="number" class="form-control" id="telefono" name="telefono" value="${proveedor.telefono || ''}" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" value="${decodeURIComponent(proveedor.email) || ''}" required>
    </div>
      <div class="form-group">
        <label for="estado">Estado:</label>
        <select class="form-select" id="estado" name="estado_proveedor" required>
          <option value="Activo" ${proveedor.estado_proveedor === 'Activo' ? 'selected' : ''}>Activo</option>
          <option value="Inactivo" ${proveedor.estado_proveedor === 'Inactivo' ? 'selected' : ''}>Inactivo</option>
        </select>
      </div>

      <button class="submit" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer;" id="registrarBoton">Registrar</button>
      <a href="#" class="cancel" style="background-color: #d33; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer; margin-left: 10px;" id="cancelarBoton">Cancelar</a>
    </form>
  `,
        showCancelButton: false,
        showConfirmButton: false
      });

      document.getElementById('cancelarBoton').addEventListener('click', (event) => {
        event.preventDefault(); // Evita que se realice la acción predeterminada del enlace
        Swal.close(); // Cierra el cuadro de diálogo sin realizar ninguna acción adicional
      });

      document.getElementById('actualizarProveedorForm').addEventListener('submit', (event) => {
        event.preventDefault();

        const nombre = document.getElementById('nombre').value;
        const ruc = document.getElementById('ruc').value;
        const direccion = document.getElementById('direccion').value;
        const ciudad = document.getElementById('ciudad').value;
        const pais = document.getElementById('pais').value;
        const telefono = document.getElementById('telefono').value;
        const email = document.getElementById('email').value;
        const estado = document.getElementById('estado').value;

        fetch(`/actualizarproveedor/${idproveedor}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            nombre_empresa: nombre,
            ruc: ruc,
            direccion: direccion,
            ciudad: ciudad,
            pais: pais,
            telefono: telefono,
            email: email,
            estado_proveedor: estado
          })
        })
          .then(response => {
            if (response.ok) {
              Swal.fire('Éxito', 'El proveedor se actualizó correctamente', 'success');
              location.reload(); // Recargar la página después de la actualización exitosa
            } else {
              Swal.fire('Error', 'Hubo un error al actualizar el proveedor mismo telefono', 'error');
            }
          })
          .catch(error => {
            Swal.fire('Error', 'Hubo un error en la solicitud', 'error');
          });

        Swal.close();
      });
    }
  </script>


  <script>
    document.getElementById('botonagregar').addEventListener('click', () => {
      Swal.fire({
        title: 'Agregar Proveedor',
        html: `
  <form id="agregarUsuarioForm" method="post" action="/proveedores">
    <div class="form-group" style="display: flex; gap: 10px">
      <div  style="width: 100%;">
          <label for="ruc">Ruc:</label>
          <input type="number" class="form-control" id="ruc" name="ruc" required>
        </div>
          <div style="margin-top: 1em;">
                      <a class="btn btn-primary" id="buscarprove" style="width: 3em; font-size: 1em;"><i
                          class="bi bi-search"></i></a>
                    </div>
        </div>

    <div class="form-group">
      <label for="nombre">Proveedor:</label>
      <input type="text" class="form-control" id="nombre" name="nombre_empresa" required>
    </div>
  
    <div class="form-group">
      <label for="descripcion">Direccion:</label>
      <input type="text" class="form-control" id="direccion" name="direccion" required>
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad:</label>
      <input type="text" class="form-control" id="ciudad" name="ciudad" required>
    </div>
    <div class="form-group">
      <label for="pais">Pais:</label>
      <input type="text" class="form-control" id="pais" name="pais" required>
    </div>
    <div class="form-group">
      <label for="telefono">Telefono:</label>
      <input type="number" class="form-control" id="telefono" name="telefono" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" required>
    </div>


    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="estado" name="estado_proveedor" value="Activo" checked>
      <label class="form-check-label" for="estado">Activo</label>
    </div>
    <br/>

    <button class="submit" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer;" id="registrarBoton">Registrar</button>
    <a href="#" class="cancel" style="background-color: #d33; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px; cursor: pointer; margin-left: 10px;" id="cancelarBoton">Cancelar</a>
  </form>
  `,
        showCancelButton: false, // Ocultar el botón de cancelar de SweetAlert
        showConfirmButton: false // Ocultar el botón de confirmar de SweetAlert
      });
      function validarFormulario() {
        const nombre = document.getElementById('nombre').value;
        const ruc = document.getElementById('ruc').value;
        const direccion = document.getElementById('direccion').value;
        const ciudad = document.getElementById('ciudad').value;
        const pais = document.getElementById('pais').value;
        const telefono = document.getElementById('telefono').value;
        const email = document.getElementById('email').value;
        const estado = document.getElementById('estado').checked;

        if (!nombre || !ruc || !direccion || !ciudad || !pais || !telefono || !email || !estado) {
          Swal.fire('Error', 'Debe completar todos los campos', 'error');
          return false;
        }
        if (ruc.length !== 11) {
          Swal.fire('Error', 'El RUC debe tener 11 dígitos', 'error');
          return false;
        }


        return true;
      }


      // Agregar listener de evento para el botón "Registrar"
      document.getElementById('registrarBoton').addEventListener('click', (event) => {
        if (validarFormulario()) {
          document.getElementById('agregarUsuarioForm').submit();
          location.reload();
          Swal.close();

        }
      });
      // Agregar listener de evento para el botón "Cancelar"
      document.getElementById('cancelarBoton').addEventListener('click', () => {

        Swal.close(); // Cerrar la ventana modal de SweetAlert
      });

      const botonproveedor = document.getElementById("buscarprove");
      // document.getElementById("ruc").addEventListener("input", obtenerDatosProveedor);
      async function obtenerDatosProveedor() {
        const rucProveedor = document.getElementById("ruc").value;
        const nombreInput = document.getElementById("nombre");
        const direccion2 = document.getElementById('direccion');
        const ciudad2 = document.getElementById('ciudad');

        if (rucProveedor.length === 11) {
          const apiUrl = `https://dniruc.apisperu.com/api/v1/ruc/${rucProveedor}?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6Im1hcmNvLmNhbGRlcm9uMTcwMUBob3RtYWlsLmNvbSJ9._G_OPWUN5ysie2m5euE6tzabcWVKOe2TpxJeyn2xWrs`;

          try {
            const response = await fetch(apiUrl);
            const data = await response.json();
            const nombreProveedor = data.razonSocial;
            const direccion = data.direccion;
            const distrito = data.distrito;




            nombreInput.value = nombreProveedor;
            direccion2.value = direccion;
            ciudad2.value = distrito ;


            console.log(data);
          } catch (error) {
            console.log("Error:", error);
          }
        } else if (rucProveedor.length <=10){
          nombreInput.value = "";
          direccion2.value = "";
          ciudad2.value = "";
        }
      }

      botonproveedor.addEventListener('click', obtenerDatosProveedor)
    });
  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script src="/src/css/jquery-3.5.1.js"></script>
  <script src="/src/css/jquery.dataTables.min.js"></script>
  <script src="/src/css/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#users').DataTable();
    });
  </script>

</body>

</html>